In [1]:
from pandas import read_table

df = read_table("day_1_input.txt")
df["nums"] = [x for x in df.entries.str.findall(r'\d+')]

solution = 0
for _, row in df.iterrows():
    vals = row.nums

    if isinstance(vals, list):
        num_1 = int(vals[0][0])
        num_2 = int(vals[-1][-1])

    if int(num_1) > 9:
        first_val_to_add = int(str(num_1)[0])
    
    if int(num_2) > 9:
        second_val_to_add = int(str(num_2[-1]))
    
    solution += int(str(num_1) + str(num_2))
    
solution

55172

In [33]:
from re import sub, findall, finditer
from pandas import read_table, DataFrame

# df = read_table("day_1_input.txt")

df = DataFrame(
    data = [
        "two1nine",
        "eightwothree",
        "abcone2threexyz",
        "xtwone3four",
        "4nineeightseven2",
        "zoneight234",
        "7pqrstsixteen",
    ],
    columns=["entries"]
)

number_mapping = {
    "one": "1",
    "two": "2",
    "three": "3",
    "four": "4",
    "five": "5",
    "six": "6",
    "seven": "7",
    "eight": "8",
    "nine": "9",
}
solution = 0
for _, row in df.iterrows():
    orig_dat = row.entries
    dat = row.entries
    
    lowest_val = None
    sub_key = None
    highest_val = None
    reverse_sub_key = None
    for key in number_mapping.keys():
        if key in dat:
            for match in finditer(key, dat):
                start_val = match.start()
                if lowest_val:
                    if start_val < lowest_val:
                        sub_key = key
                        lowest_val = start_val
                if highest_val:
                    if start_val > highest_val:
                        reverse_sub_key = key
                        highest_val = start_val
                sub_key = key
                highest_sub_key = key
                lowest_val = start_val
                highest_val = start_val
                
    dat = sub(sub_key, number_mapping.get(sub_key), dat)
    if highest_val:
        dat = sub(highest_sub_key, number_mapping.get(highest_sub_key), dat)
    
    vals = findall(r'\d+', dat)

    if isinstance(vals, list):
        num_1 = int(vals[0][0])
        num_2 = int(vals[-1][-1])

    if int(num_1) > 9:
        first_val_to_add = int(str(num_1)[0])
    
    if int(num_2) > 9:
        second_val_to_add = int(str(num_2[-1]))
    
    print(orig_dat, dat, vals, num_1, num_2)
    solution += int(str(num_1) + str(num_2))

solution

two1nine two19 ['19'] 1 9
eightwothree 8wothree ['8'] 8 8
abcone2threexyz abcone23xyz ['23'] 2 3
xtwone3four xtwone34 ['34'] 3 4
4nineeightseven2 49eightseven2 ['49', '2'] 4 2
zoneight234 zon8234 ['8234'] 8 4
7pqrstsixteen 7pqrst6teen ['7', '6'] 7 6

366

In [20]:
dir(match)

['__class__',
 '__class_getitem__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'end',
 'endpos',
 'expand',
 'group',
 'groupdict',
 'groups',
 'lastgroup',
 'lastindex',
 'pos',
 're',
 'regs',
 'span',
 'start',
 'string']

In [27]:
match.pos

0

In [ ]:
# 54393 too low
29, 83, 13, 24, 42, 14, 76

In [32]:
from re import finditer

string = "eightwothree"

for key in number_mapping.keys():
    if key in string:
        for match in finditer(key, string):
            print(match.start())

match.group(4)

4
7
0

IndexError: no such group